<div id="flight-form">
<h2>Edit Passenger Information</h2>
<form class='form__create-form' action="/pax/update/{{pax._id}}" method="post">
  <div>
  <h4>Travel Class:</h4>  
  <input type="radio" id="travelClassInput" name="travelClass" value="First">
  <label for="travelClassInput">First</label><br>
  <input type="radio" id="css" name="travelClass" value="Business">
  <label for="travelClassInput">Business</label><br>
  <input type="radio" id="travelClassInput" name="travelClass" value="Premium Economy">
  <label for="travelClassInput">Premium Economy</label><br>
  <input type="radio" id="travelClassInput" name="travelClass" value="Economy">
  <label for="travelClassInput">Economy</label><br>
<br>
    <label for="seatNumberInput">Seat Number: <input id="seatNumberInput" type="text" name="seatNumber" style="border-radius: 8px; padding: 5px"></label><br>
  <br>
    <label for="notesInput">Notes: <input id="notesInput" type="text" name="notes" style="border-radius: 8px; padding: 5px"></label><br>
  <br>
  </div>
  <br>
  <button style="border-radius: 8px; padding: 5px; font-family:Arial, Helvetica, sans-serif; text-decoration: none; color:grey">Save Changes</button>
</form>
</div>