<h2>Update page</h2>
<form class='form__create-form' action="/travel/details" method="post">
  <div>
    
    <label for="depatureInput">Departure code: <input id='departureInput' type="text" name="departureAirport"></label>
    <label for="arrivalInput">Arrival code: <input id="arrivalInput" type="text" name="arrivalAirport"></label>
    <h2>Date and Time </h2>
    <label for="departureStartDateInput">Departure Date: <input id="departureStartDateInput" type="date"
        name="departureDate"></label>
    <label for="arrivalDateInput">Arrival Date: <input id="arrivalDateInput" type="date"
        name="arrivalDate"></label>
    <label for="departureTimeInput">Departure Time: <input id="departureTimeInput" type="time"
        name="departureTime"></label>
    <label for="arrivalTimeInput">Arrival Time: <input id="arrivalTimeInput" type="time"
        name="arrivalTime"></label>
  </div>

  <button>Save Changes</button>
</form>