<html class="home">
<img class="engine-pic" src="../images/FlightLog_icon.png" alt="engine" style="width: 150px; height: 150px;">
<h1>{{title}}</h1>
<p class="welcome-text">Sign up for an account to begin!</p>
</html>