// variable in sass
$navBackground: #708090;

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Quicksand&display=swap');

// reusable style in sass
@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 3vw 0 0;

    #body {
        min-height: 90vh;
        padding: 2vw 5vw;
    }

    background-image: url("../images/EhjP78R-space-star-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color:whitesmoke;
        text-align: center;
        justify-content: center;
        padding-top: 170px;
        font-family: "Quicksand", cursive;
        font-size: 70px;
        
    }

    .welcome-text {
        color: whitesmoke;
        text-align: center;
    }

    nav {
        @include center-content;
        background-color: black;
        position: fixed;
        top: 0;
        width: 90vw;
        height: 4vw;
        padding: 0 5vw;

        // nav div.nth-child(2) {}
        div:nth-child(1) {
            @include center-content;

            // nav div.nth-child(2) a {}
            a {
                margin-right: 1vw;
            }
        }

        // nav div.nth-child(2) {}
        div:nth-child(2) {
            @include center-content;

            // nav div.nth-child(2) a {}
            a {
                margin-left: 1vw;
            }
        }

        // nav a {}
        a {
            color: snow;
            text-decoration: none;

            &:hover {
                color: yellow;
            }
        }

        // nav h4 {}
        h4 {
            color: darkslateblue;
        }
    }

}
