// variable in sass
$navBackground: #708090;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

// reusable style in sass
@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    background-image: url("../images/EhjP78R-space-star-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    padding: 3vw 0 0;

    #body {
        min-height: 90vh;
        padding: 2vw 5vw;
    }

    .engine-pic {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;

    }

    h1 {
        color:whitesmoke;
        text-align: center;
        justify-content: center;
        font-family: "Quicksand", cursive;
        font-size: 40px;
        
    }

    .welcome-text {
        color: whitesmoke;
        font-family: "Quicksand", cursive;
        text-align: center;
    }

    nav {
        @include center-content;
        background-color:rgb (0,0,0,0.7) ;
        position: fixed;
        top: 0;
        width: 90vw;
        height: 5vw;
        padding: 0 5vw;
        font-family: 'Pacifico', cursive;
        font-size: 24px;

        // nav div.nth-child(2) {}
        div:nth-child(1) {
            @include center-content;

            // nav div.nth-child(2) a {}
            a {
                margin-right: 1vw;
            }
        }

        // nav div.nth-child(2) {}
        div:nth-child(2) {
            @include center-content;

            // nav div.nth-child(2) a {}
            a {
                margin-left: 1vw;
            }
        }

        // nav a {}
        a {
            color: rgb(86,86,86);
            text-decoration: none;

            &:hover {
                color: white;
            }
        }

        // nav h4 {}
        h4 {
            color: whitesmoke;
        }
    }

    .signup-form {
        color: white;
        font-family: "Quicksand", cursive;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        max-width: 300px;
        margin: 10px auto;
    }

    .signup-form-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
    }

   
}
 //flight page

    #flight-form {
        font-family: "Quicksand", cursive;
        color: whitesmoke;
        text-align: left;
        align-items: left;
        padding: 50px;
        height: 400px;
           
    }
    
    #my-flights {
        font-family: "Quicksand", cursive;
        color: whitesmoke;
        text-align: left;
        align-items: center;
        display: flexbox;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: space-between;
        
        
    }
  