<div id="flight-form">
<h2>Add a new flight - Step 2/3 Flight and Aircraft Information</h2>

<form class='form__create-form' action="/flight/details/{{urlId}}" method="post">
  <div>
    
    <label for="flightNumberInput">Flight Number: <input id='flightNumberInput' type="text" name="flightNumber" style="border-radius: 8px; padding: 5px"></label>
    <br>
    <br>
    <label for="airline">Airline: <input id="airline" type="text" name="airline" style="border-radius: 8px; padding: 5px"></label>
    <br>
    <br>
    <label for="aircraftTypeInput">Aircraft Type: <input id="aircraftTypeInput" type="text" name="aircraftType" style="border-radius: 8px; padding: 5px"></label>
    <br>
    <br>
    <label for="tailNumber">Tail Number: <input id="tailNumber" type="text" name="tailNumber" style="border-radius: 8px; padding: 5px"></label>
    <br>
    <br>
    <label for="flightDuration">Flight Duration: <input id="flightDuration" type="text" name="flightDuration" style="border-radius: 8px; padding: 5px"></label>
  </div>
<br>
  <button style="border-radius: 8px; padding: 5px; color: grey">Continue</button>
</form>
</div>